server.properties
server.log
banned-players.txt
banned-ips.txt
white-list.txt
temp/
dev/
*.lck
*.bak
PreciousStones.db
plugins/CommandBook/sessions/*.*
world.pending
plugins/dynmap/web/*
world*/
*.bak
*.back
*.pid
*.log
*.lck
*.1
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9
*.0
